body {
  background-color: white;
}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 93px;
  padding-right: 52px;
  padding-bottom: 100px;
  padding-left: 50px;
}

.headerLinksList {
  display: flex;
  align-items: center;
  width: 391.48px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-underline-offset: 3px;
  list-style-type: circle;
}

.headerLinksList li {
  padding-top: 1px;
}

.headerLinksList li:nth-child(1) {
  margin-top: 6px;
  margin-right: 24px;
}

.headerLinksList li:nth-child(2), .headerLinksList li:nth-child(3) {
  text-decoration: underline;
}

.headerLinksList li:nth-child(2) {
  min-width: 160px;
  margin-top: 6px;
  margin-right: 25px;
  padding-left: 7.1px;
}

.headerLinksList li:nth-child(3) {
  min-width: 129px;
  margin-top: 6px;
  padding-left: 5px;
}

.mainNav {
  text-decoration: none;
}

.dot {
  list-style-type: none;
}

.headerLogo {
  position: relative;
  top: 1px;
  left: 2px;
  width: 129px;
  height: 100px;
  border: #000000 solid 6px;
  background-color: rgb(255, 255, 255);
}

.headerLogoLink {
  position: absolute;
  top: -5px;
  left: -10px;
  display: block;
  width: 135px;
  height: 130px;
}

address {
  padding-top: 7px;
  padding-left: 197px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb( 0, 0, 0, 0.6);
}

.mainText {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 165px 50px 147px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.topLeftElement {
  align-self: flex-start;
  z-index: 11;
  position: relative;
  top: 2px;
}

.middleCenterElement {
  display: block;
  align-self: center;
  text-align: center;
  z-index: 1;
  position: relative;
  top: 22px;
  left: 15px;
}

.bottomRightElement {
  align-self: flex-end;
  text-align: right;
  z-index: 1;
  position: relative;
  top: 41px;
  left: 29px;
}

.coverDescription {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 0px 50px 55px 78px;
  gap: 79px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.coverDescriptionText {
  z-index: 11;
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18px;
  position: relative;
  right: 29px;
}

.betButton {
  z-index: 11;
  border: 1px solid currentColor;
  padding: 12px 32px 11px 31px;
  color: white;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background: none;
}

.lots {
  padding-top: 177px;
}


.lotsHeading {
  padding-left: 63px;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lotsCardList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  padding-top: 25px;
}


.lotsCardListItem {
  list-style-type: none;
  width: 334px;
  min-height: 596px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

.cardMovie, .cardBook, .cardPic {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.cardMovie {
  background-image: url(../images/card-lot-01.jpg);
}

.cardBook {
  background-image: url(../images/card-lot-02.jpg);
}

.cardPic {
   background-image: url(../images/card-lot-03.jpg);
}

.cardTitleMovie, .cardTitleBook, .cardTitlePic {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 1;
}

.cardTextMovie, .cardTextBook, .cardTextPic {
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  z-index: 1;
}

.lotsLookMoreLinkA {
  text-decoration: none;
}

.lotsLookMoreLink {
  padding-left: 64px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration: underline;
  text-underline-offset: 4px;
  padding-top: 31px;
}

.coverImage {
  background: rgba(0, 0, 0, 0.6);
}

.about {
  display: flex;
  padding-top: 155px;
}

.aboutMain {
  width: 449px;
  height: auto;
}

.aboutLogo {
  width: 240px;
  height: 240px;
  margin-left: 71px;
  border-radius: 50%;
  background-color: black;
}

.aboutLogoImage {
  position: relative;
  top: 64px;
  left: 46.48px;
  width: 148px;
  height: 114px;
}

.aboutTitle {
  padding-top: 102px;
  padding-left: 72px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.aboutTextUp {
  width: 750px;
  margin-top: 23px;
  padding-top: 76px;
  padding-left: 72px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.aboutTextDown {
  width: 750px;
  padding-top: 24px;
  padding-left: 72px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 110px;
  height: auto;
  padding-top: 175px;
  padding-right: 13px;
}

footer .address {
  margin-bottom: 61px;
  padding-left: 49px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-align: left;
  text-underline-offset: 4px;
}

.footerMenu {
  padding-bottom: 89px;
  padding-left: 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-underline-offset: 4px;
}

.imagesFoot {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-bottom: 106px;
  padding-left: 10px;
}

.imageDivFoot {
  width: 48px;
  height: 48px;
}
